.wrapper {
  width: 80%;
  // margin: 50px auto 100px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background: yellow;

}

.form {
  // margin-top: 10px;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}